html, body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {vertical-align: top; margin: 0; padding: 0; }
table {border-spacing: 0px; border-collapse: collapse;} /*Evil*/
body{text-align:center; margin: 0 auto;}
