@import "common/icons/richtext2-light.css";
@import "common/stars/stars-orange.css";
@import "common/icons/icons-grey.css";
@import "common/icons/icons-common.css";
@import "structure.css";
@import "common/icons/toolbar-icons-dark.css";

.ui-icon { width: 16px; height: 16px; background-image: url(common/icons/ui-icons-grey_eeeeee_256x240.png); }
.tt-icon-tall{ width: 16px; height: 28px; background-image: url(common/icons/tt-icons-grey_eeeeee.png); }

body{ color: #ccc; background-color: black;}
.tt-view-container{ background-color:#222; border: 1px solid #333;}

textarea,
input{ color: #eee; background-color: black;}

.tt-plain-post a,
.tt-post-container-header a,
.tt-post-fetch-more a,
.tt-paginator-nano a,
.tt-paginator a,
.tt-post-body a,
.tt-paginated-post-header a,
.tt-forum-post-title a,
.tt-reviewSummary a,
.tt-forum-names a,
.tt-child-post-header a,
.tt-post-panel-content a,
.tt-post-panel-head	a,
.tt-active-post-links-hover a,
.tt-more-comments a,
.tt-traffic-login a,
.tt-post-summary a,
.tt-post-expanded-content a{text-decoration: none; color: #ccc;}
	
.tt-plain-post a:link,	
.tt-post-container-header a:link,
.tt-post-fetch-more a:link,	
.tt-paginator-nano a:link,
.tt-paginator a:link,
.tt-post-body a:link,
.tt-paginated-post-header a:link,
.tt-forum-post-title a:link,
.tt-reviewSummary a:link,
.tt-forum-names a:link,
.tt-child-post-header a:link,
.tt-post-panel-content a:link,
.tt-post-panel-head	a:link,
.tt-active-post-links-hover a:link,
.tt-more-comments a:link,
.tt-traffic-login a:link,
.tt-post-summary a:link,
.tt-post-expanded-content a:link {text-decoration: none; color: #ccc;}

.tt-plain-post a:visited,
.tt-post-container-header a:visited,
.tt-post-fetch-more a:visited,
.tt-paginator-nano a:visited,
.tt-paginator a:visited,
.tt-post-body a:visited,
.tt-paginated-post-header a:visited,
.tt-forum-post-title a:visited,
.tt-reviewSummary a:visited,
.tt-forum-names a:visited,
.tt-child-post-header a:visited,
.tt-post-panel-content a:visited,
.tt-post-panel-head	a:visited,
.tt-active-post-links-hover a:visited,
.tt-more-comments a:visited,
.tt-traffic-login a:visited,
.tt-post-summary a:visited,
.tt-post-expanded-content a:visited {text-decoration: none; color: #ccc;}

.tt-plain-post a:hover,
.tt-post-container-header a:hover,
.tt-post-fetch-more a:hover,
.tt-paginator-nano a:hover,
.tt-paginator a:hover,
.tt-post-body a:hover,
.tt-paginated-post-header a:hover,
.tt-forum-post-title a:hover,
.tt-reviewSummary a:hover,
.tt-forum-names a:hover,
.tt-child-post-header a:hover,
.tt-post-panel-content a:hover,
.tt-post-panel-head	a:hover,
.tt-active-post-links-hover a:hover,
.tt-more-comments a:hover,
.tt-traffic-login a:hover,
.tt-post-summary a:hover,
.tt-post-expanded-content a:hover  {text-decoration: underline; color: white;}

.tt-plain-post a:active,
.tt-post-container-header a:active,
.tt-post-fetch-more a:active,
.tt-paginator-nano a:active,
.tt-paginator a:active,
.tt-paginated-post-header a:active,
.tt-forum-post-title a:active,
.tt-reviewSummary a:active,
.tt-forum-names a:active,
.tt-child-post-header a:active,
.tt-post-panel-content a:active,
.tt-post-panel-head	a:active,
.tt-active-post-links-hover a:active,
.tt-more-comments a:active,
.tt-traffic-login a:active,
.tt-post-summary a:active,
.tt-post-expanded-content a:active  {color: #790e0e;}

.tt-active-post-links a{text-decoration: none; color: #ECECEC;}
.tt-active-post-links a:link{text-decoration: none; color: #ECECEC;}
.tt-active-post-links a:visited{text-decoration: none; color: #ECECEC;}
.tt-active-post-links a:hover{text-decoration: underline; color: #ECECEC;}
.tt-active-post-links a:active{color: #ECECEC;}



.tt-forum-names,
.tt-plain-post-close,
.tt-post-fetch-more,
.tt-active-post-links-hover{color:#113aa4;}

.tt-active-post-links{color:#ECECEC;}

.tt-alert{color: red;}

.tt-forum-title a:link,
.tt-post-panel-head-title a:link,
.tt-user-list-table a:link,
.tt-movie-list-table a:link,
.tt-cloud-tag a:link,
.tt-calendar-year-month-cell a:link,
.tt-calendar-month-day-body a:link,
.tt-calendar-week-hour a:link,
.popupContent a:link,
.tt-welcome a:link,
.tt-navigation a:link,	
.tt-reviewSummaryList a:link {text-decoration: none; color: #eee;}

.tt-forum-title a:visited,
.tt-post-panel-head-title a:visited,
.tt-user-list-table a:visited,
.tt-movie-list-table a:visited,
.tt-cloud-tag a:visited,
.tt-calendar-year-month-cell a:visited,
.tt-calendar-month-day-body a:visited,
.tt-calendar-week-hour a:visited,
.popupContent a:visited,
.tt-welcome a:visited,
.tt-navigation a:visited,	
.tt-reviewSummaryList a:visited{text-decoration: none; color: #eee;}

.tt-forum-title a:hover,
.tt-post-panel-head-title a:hover,
.tt-user-list-table a:hover,
.tt-movie-list-table a:hover,
.tt-cloud-tag a:hover,
.tt-calendar-year-month-cell a:hover,
.tt-calendar-month-day-body a:hover,
.tt-calendar-week-hour a:hover,
.popupContent a:hover,
.tt-welcome a:hover,
.tt-navigation a:hover,	
.tt-reviewSummaryList a:hover {text-decoration: underline; color: #fff;}

.tt-forum-title a:active,
.tt-post-panel-head-title a:active,
.tt-user-list-table a:active,
.tt-movie-list-table a:active,
.tt-cloud-tag a:active,
.tt-calendar-year-month-cell a:active,
.tt-calendar-month-day-body a:active,
.tt-calendar-week-hour a:active,
.popupContent a:active,
.tt-welcome a:active,
.tt-navigation a:active,		
.tt-reviewSummaryList a:active {color: #bf3333;}

.tt-post-detail a {text-decoration: none; color: grey;}
.tt-post-detail a:link {text-decoration: none; color: grey;}
.tt-post-detail a:visited{text-decoration: none; color: grey;}
.tt-post-detail a:hover {text-decoration: underline; color: #eee;}
.tt-post-detail a:active{color: black;}
	
.tt-forum-post{border-color: black;}


.tt-color-month-day-body-hover a {text-decoration: none; color: #ccc;}
.tt-color-month-day-body-hover a:link {text-decoration: none; color: #ccc;}
.tt-color-month-day-body-hover a:visited{text-decoration: none; color: #ccc;}
.tt-color-month-day-body-hover a:hover {text-decoration: underline; color: #ccc;}
.tt-color-month-day-body-hover a:active{color: black;}

.tt-color-month-day-body a {text-decoration: none; color: black;}
.tt-color-month-day-body a:link {text-decoration: none; color: black;}
.tt-color-month-day-body a:visited{text-decoration: none; color: black;}
.tt-color-month-day-body a:hover {text-decoration: underline; color: #ccc;}
.tt-color-month-day-body a:active{color: black;}


.tt-color-month-week-header{ color: white; border-color: grey;}
.tt-color-month-week-header-hover{ background: grey; color: white; border-color: #eee;}

.tt-color-calendar-nav,
.tt-color-calendar-small-month-day{border-color: transparent; color: color: #222;}
.tt-color-calendar-small-month-day-hover{border-color: #ccc; color: color: #222;}

.tt-color-calendar-nav-hover{ background: #eee; color: black; border-color: grey;}

.tt-color-calendar-day-hour,
.tt-color-calendar-hour,
.tt-color-month-day-body{ background-color: #333;}

.tt-calendar-month-day-header{background-color: #444; }

.tt-color-month-day-body-hover{ border-color: grey; background: #555;}
.tt-color-month-day-header-hover{ background-color: grey; border-color: grey; color: white;}

.tt-color-calendar-hour-label,	
.tt-color-calendar-small-month-day-content-hover{ border-color: grey; background: #eee; color: black;}


.tt-color-calendar-small-month-week-hover{color: white; background-color: grey; color: black;}
.tt-color-calendar-week-date-hover{ border-color: #666; background: #444; color: black;}
	
.tt-color-calendar-hour-label{color: #888;}

.tt-color-calendar-hour-hover,
.tt-color-month-day-header,
.tt-color-calendar-small-month-week{ }
.tt-color-calendar-small-month-day-content{border-color: #444;}

.tt-color-calendar-week-date{ border-color: #444; background: #222;}

.tt-calendar-is-today{}
.tt-calendar-is-future{}

/*
.tt-color-nws{ color: red; }
.tt-color-inf{ color: #F5F23B; }

.tt-comment-editor,

*/


.tt-post ul{list-style: disc; padding: 0 0 0 20px;}
.tt-post ol{list-style: decimal; padding: 0 0 0 20px;}
/*
.tt-post-panel-root
.tt-post{ background-color: #fefefe; border-color:#eee; color: white;}
*/
.tt-post{ background-color: #2C2C2C; border-color:#333 #000 #000 #333;}

.tt-post-panel-number,
.tt-post-summary-body,
.tt-color-search-results-header{color: #965555;}
.tt-post-body{color: #938181;}

.tt-post-panel-head{ background-color: transparent; border-color:transparent;}

.tt-post-panel-content{color: black; background-color: transparent; border: 0px;  border-style: solid; border-color: #black;}


.tt-search-popup{background-color: #222222; border-color: #555; color: black;}

.gwt-ListBox{background-color: black; color: #eee;}
.gwt-Button{color: white;}

.tt-more-options-button-hover{background-color: #e1de3b; color: #878207;}


.tt-conversation-count{background-color: #bf3333; color: #790e0e;}

.tt-color-calendar-small-month-day-selected-hover{background-color: #bf3333; color: white;}
.tt-color-calendar-small-month-day-selected{background-color: #790e0e; color: #eee;}


.tt-color-calendar-small-month-day-selected-hover,
.tt-more-options-button-hover,
.tt-post-expanded,
.tt-conversation-count{border-color: red #790e0e #790e0e red;}
	

.tt-color-calendar-small-month-day-selected{border-color: #790e0e;}

.tt-reply-count{background-color: #222; border-color: #000 #333 #333 #000; color: #555;}
.tt-color-post-summary{background-color:transparent;}

.tt-color-post-summary-hover{background-color:#eee; color: black}

.tt-traffic-person,
.tt-fancy-image-border,
.tt-searchBoxPanel{border-color: #555 #000 #000 #555;}

.tt-textbox-search{background-color: #000; color: #ccc;}
.tt-message-textbox-disabled{ color: #222;}

/*
.gwt-TabPanelBottom{border-bottom-color: #4f76d8; border-left-color: #4263b6; border-right-color: #4f76d8; border-top-color: #4263b6;}
*/
.gwt-TabPanelBottom{border-color: transparent; border-top-color: #790e0e;}

.tt-traffic-person{background-color: #222;}

.tt-rich-text-area{background-color:#ddd; color:black;}
	
.gwt-TabBar .gwt-TabBarItem{background: #333;}
.gwt-TabBar .gwt-TabBarItem-selected{background: #bf3333;}

.gwt-TabBar .gwt-TabBarItem-disabled {color: #999999;}

.tt-fancy-image-border{ background-color: #222;}


.gwt-TabBar .gwt-TabBarItem-selected{ background-image:url('common/images/gradients-red.png');background-position: 0 0px; background-repeat:repeat-x;}

.tt-graphic-button,
.tt-graphic-button-r, 
.tt-graphic-button-l{background-color: #222; border-color: #555;}

.tt-graphic-button-normal{ background-image:url('common/images/gradient-dark.png');background-position: 0 0; background-repeat:repeat-x;}
.tt-graphic-button-down{ background-color: 000;}

.tt-pageFooter hr{ color: #eee; background-color: #f00; }

.tt-more-options-button{border-color: #aaa; color:#aaa; background-color: eee;}

.tt-reviewSummaryList{color: #222;}
.tt-reviewSummaryList-header{color: #777}

.gwt-SuggestBoxPopup,
.gwt-PopupPanel { border-color: black; background: #222; }


.gwt-SuggestBoxPopup .item { color: #424242;}
.gwt-SuggestBoxPopup .item-selected { background: #790e0e; color: black;}
.gwt-SuggestBoxPopup .suggestPopupContent { background: black;}

.tt-plain-post{border-color: grey; background: #333;}

.tt-post-child-noHover{border-color: #000 #333 #333 #000;}

.tt-comment-button,
.tt-post-child-hover{border-color: #333 #000 #000 #333;}

.tt-selected{border-color:#bf3333; background-color:#790e0e;}

.tt-selected a{text-decoration: none; color: #eee;}
.tt-selected a:link{text-decoration: none; color: #eee;}
.tt-selected a:visited{text-decoration: none; color: #eee;}
.tt-selected a:hover{text-decoration: underline; color: #fff;}
.tt-selected a:active{color: #790e0e;}

.tt-pageHeader-title{color: fefefe;}
.tt-pageHeader-subtitle{color: #790e0e;}

.spoiler{ color : #2a2a2a; background-color : #2a2a2a;}
.reveal{ color : #790e0e; background-color : #2a2a2a;}
.tt-userlistrow{border-color: #333;}

