body{text-align:center; margin: 0 auto;}
.tt-view-container{width:1000px; text-align:center; margin: 0 auto; padding:10px;}
.tt-post{margin-bottom: 0px; border:1px solid;}
.tt-split-home-main{ width:555px; padding: 0 12 0 0;}

.tt-post-container{width:100%}

.tt-forum-main,
.tt-topic-root,
.tt-topic-topics,
.tt-home-main{ width: 600px;}

.tt-post-child-container{width:500px;}

.tt-forum-names,
.tt-search-results{width: 600px; text-align:center; margin: 0 auto;}