@import "common/icons/richtext2-light.css";
@import "common/stars/stars-orange.css";
@import "common/icons/icons-grey.css";
@import "common/icons/icons-common.css";
@import "structure.css";


body{ color: #222; background-color: #eee;}
.tt-view-container{ background-color:white;}

.tt-message-textbox-disabled{ color: #ddd;}

	
.tt-post-panel-head	a:link {text-decoration: none; color: #222;}
.tt-post-panel-head a:visited {text-decoration: none; color: #222;}
.tt-post-panel-head a:hover {text-decoration: underline; color: black;}
.tt-post-panel-head a:active {color: #F5F23B;}

.tt-post-panel-content a:link {text-decoration: none; color: black;}
.tt-post-panel-content a:visited {text-decoration: none; color: black;}
.tt-post-panel-content a:hover {text-decoration: underline; color: #222;}
.tt-post-panel-content a:active {color: #F5F23B;}

.tt-more-comments a:link,
.tt-traffic-login a:link,
.tt-post-summary a:link {text-decoration: none; color: #113aa4;}

.tt-more-comments a:visited,
.tt-traffic-login a:visited,
.tt-post-summary a:visited {text-decoration: none; color: #113aa4;}

.tt-more-comments a:hover,
.tt-traffic-login a:hover,
.tt-post-summary a:hover {text-decoration: underline; color: blue;}

.tt-more-comments a:active,
.tt-traffic-login a:active,
.tt-post-summary a:active {color: #F5F23B;}

.tt-user-list-table a:link,
.tt-movie-list-table a:link,
.tt-cloud-tag a:link,
.tt-calendar-year-month-cell a:link,
.tt-calendar-month-day-body a:link,
.tt-calendar-week-hour a:link,
.popupContent a:link,
.tt-welcome a:link,
.tt-navigation a:link,	
.tt-reviewSummaryList a:link,
.tt-post-expanded a:link {text-decoration: none; color: black;}

.tt-user-list-table a:visited,
.tt-movie-list-table a:visited,
.tt-cloud-tag a:visited,
.tt-calendar-year-month-cell a:visited,
.tt-calendar-month-day-body a:visited,
.tt-calendar-week-hour a:visited,
.popupContent a:visited,
.tt-welcome a:visited,
.tt-navigation a:visited,	
.tt-reviewSummaryList a:visited,
.tt-post-expanded a:visited {text-decoration: none; color: black;}

.tt-user-list-table a:hover,
.tt-movie-list-table a:hover,
.tt-cloud-tag a:hover,
.tt-calendar-year-month-cell a:hover,
.tt-calendar-month-day-body a:hover,
.tt-calendar-week-hour a:hover,
.popupContent a:hover,
.tt-welcome a:hover,
.tt-navigation a:hover,	
.tt-reviewSummaryList a:hover,
.tt-post-expanded a:hover {text-decoration: underline; color: #222;}

.tt-user-list-table a:active,
.tt-movie-list-table a:active,
.tt-cloud-tag a:active,
.tt-calendar-year-month-cell a:active,
.tt-calendar-month-day-body a:active,
.tt-calendar-week-hour a:active,
.popupContent a:active,
.tt-welcome a:active,
.tt-navigation a:active,		
.tt-reviewSummaryList a:active,
.tt-post-expanded a:active {color: #F5F23B;}

.tt-color-month-week-header{ background: #eee; color: black; border-color: grey;}
.tt-color-month-week-header-hover{ background: grey; color: white; border-color: #eee;}

.tt-color-calendar-nav,
.tt-color-calendar-small-month-day,
.tt-color-calendar-small-month-day-hover{border-color: transparent; color: color: #222;}

.tt-color-calendar-nav-hover{ background: #eee; color: black; border-color: grey;}

.tt-color-calendar-day-hour,
.tt-color-calendar-hour,
.tt-color-month-day-body{ border-color: #eee;}


.tt-color-month-day-body-hover{ border-color: grey; background: #eee;}
.tt-color-month-day-header-hover{ background-color: grey; border-color: grey; color: white;}

.tt-color-calendar-hour-label,	
.tt-color-calendar-small-month-day-content-hover{ border-color: grey; background: #eee;}


.tt-color-calendar-small-month-week-hover{color: white; background-color: grey;}
.tt-color-calendar-week-date-hover{ border-color: white; background: #eee;}
	
.tt-color-calendar-hour-label{color: #888;}

.tt-color-calendar-hour-hover,
.tt-color-month-day-header,
.tt-color-calendar-small-month-day-content,
.tt-color-calendar-small-month-week{ border-color: #ccc; background-color: #fcfcfc;}

.tt-color-calendar-week-date{ border-color: white; background: #fcfcfc;}

.tt-calendar-is-today{}
.tt-calendar-is-future{}

/*
.tt-color-nws{ color: red; }
.tt-color-inf{ color: #F5F23B; }

.tt-comment-editor,

*/


.tt-post ul{list-style: disc; padding: 0 0 0 20px;}
.tt-post ol{list-style: decimal; padding: 0 0 0 20px;}
/*
.tt-post-panel-root
.tt-post{ background-color: #fefefe; border-color:#eee; color: white;}
*/
.tt-post{ background-color: transparent; border-color:#eee;}

.tt-post-panel-number,
.tt-post-summary-body,
.tt-color-search-results-header,
.tt-post-body{color: grey;}

.tt-post-panel-head{ background-color: #f5f5f5; border-color:#eee;}

.tt-post-panel-content{color: black; background-color: #fcfcfc; }


.tt-search-popup{background-color: #fefefe; border-color: grey; color: black;}

.tt-more-options-button-hover{background-color: #e1de3b; color: #878207;}


.tt-conversation-count{background-color: #F5F23B; color: #bfb800;}

.tt-color-calendar-small-month-day-selected-hover{background-color: #F5F23B; color: black;}
.tt-color-calendar-small-month-day-selected{background-color: #fcfbd1; color: black;}


.tt-color-calendar-small-month-day-selected-hover,
.tt-more-options-button-hover,
.tt-post-expanded,
.tt-conversation-count{border-bottom-color: #bfb800; border-left-color: #F5F23B; border-right-color: #bfb800; border-top-color: #F5F23B;}

.tt-color-calendar-small-month-day-selected{color: black; border-bottom-color: #bfb800; border-left-color: #F5F23B; border-right-color: #bfb800; border-top-color: #F5F23B;}

.tt-reply-count{background-color: #cecece; border-color: white; color: #fefefe;}
.tt-color-post-summary{background-color:transparent;}

.tt-color-post-summary-hover{background-color:#eee; color: black}

.tt-graphic-button{background-color: #cecece; border-color: #ccc;}

.tt-traffic-person,
.tt-fancy-image-border,
.tt-searchBoxPanel{border-bottom-color: #999; border-left-color: #CCC; border-right-color: #999; border-top-color: #CCC;}

/*
.gwt-TabPanelBottom{border-bottom-color: #4f76d8; border-left-color: #4263b6; border-right-color: #4f76d8; border-top-color: #4263b6;}
*/
.gwt-TabPanelBottom{border-bottom-color: transparent; border-left-color: transparent; border-right-color: transparent; border-top-color: #4263b6;}

.tt-traffic-person{background-color: #f5f5f5;}

.tt-rich-text-area{background-color:#ddd; color:black;}
	
.gwt-TabBar .gwt-TabBarItem{background: #ececec;}
.gwt-TabBar .gwt-TabBarItem-selected{background: #92c1f0;} 
.gwt-TabBar .gwt-TabBarItem-disabled {color: #999999;}

.tt-fancy-image-border{ background-color: #ddd;}

.gwt-TabBar .gwt-TabBarItem-selected{ background-image:url('common/images/gradients.png');background-position: 0 0px; background-repeat:repeat-x;}

.tt-graphic-button-normal{ background-image:url('common/images/gradient.png');background-position: 0 0; background-repeat:repeat-x;}
.tt-graphic-button-down{ background-color: grey;}


.tt-pageFooter hr{ color: #eee; background-color: #f00; }

.tt-more-options-button{border-color: #aaa; color:#aaa; background-color: eee;}

.tt-reviewSummaryList{color: #222;}
.tt-reviewSummaryList-header{color: #777}

.gwt-SuggestBoxPopup,
.gwt-PopupPanel { border-color: grey; background: white; }


.gwt-SuggestBoxPopup .item { color: #424242;}
.gwt-SuggestBoxPopup .item-selected { background: #b7d6f6; }
.gwt-SuggestBoxPopup .suggestPopupContent { background: white;}


