a{color:#348;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
body{
 text-align: center;
 background-color: #444;
 color: #eee;
 font-size: small;
 font-family: Verdana, Geneva, sans-serif;
 margin: 0;
}
.header{
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 6px;
	padding: 20px 0;
 font-size: 25px;
 text-align: left;
 background-color: transparent;
	color: #eee;
	width: 1100px;
	margin: 0 auto;
}

.outer a:link{color: #666;}
.outer a:visited{color: #666;}
.outer a:hover{color: white; text-decoration: underline; }
.outer a:active{color: #666;}

.header a:link{color: #eee;}
.header a:visited{color: #eee;}
.header a:hover{color: white; text-decoration: underline; }
.header a:active{color: #eee;}

.footer a:link{color: #eee;}
.footer a:visited{color: #eee;}
.footer a:hover{color: white; text-decoration: underline; }
.footer a:active{color: #eee;}


.footer{
 margin: 50px 0 0;
 font-size: 12px;
 text-align: right;
 width: 1100px;
 margin: 5px auto 10px auto;
 
}
.photoset{
	padding: 50px 0 0 0;
}
.photo{
 border: 0;
 padding: 0 0 150px 0;
}
.outer{
 	margin: 0 auto;
 	width: 1100px;
	background-color: #000;
	color: #fff;
	border: 1px solid #555;
}
.nav{
	padding: 0 0 5px;
}
TABLE.info{
 width:100%;
 border-collapse: collapse;
 border: solid #cecece;
 border-width: 0px;
 margin: 4px 0 0 0;
 
}
TH, TD {
 padding: 0;
}
.number{
 background-color: #cecece;
 color: white;
 font-size: 25px;
 padding: 0 10px;
}
.title{
 margin: 10px 0 0 0;
 width: 100%;
 text-align: center;
}
 
IMG{
 padding: 0; margin: 0;
 border: 2px solid #666;
 display: block;
 margin: 0 auto;
}