.icon_toolbar_button {background-image:url('richtext_icons_light.png'); width:20px; height:20px;}
.icon_blue{ background-position: 0 0;}
.icon_red{ background-position: -20px 0; }
.icon_orange{ background-position: -40px 0; }
.icon_green{ background-position: -60px 0; }
