<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="show_sql">true</property>
	<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
	<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
	<!-- <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=TTDC_v7</property> -->
	<!-- <property name="hibernate.connection.url">jdbc:sqlserver://buffy:1433;databaseName=TTDC_v7_Dev</property> -->
	<property name="hibernate.connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName=TTDC_v7_Dev_7_31</property>
	
	
	<!-- <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=TTDC_v7_Mar8</property> -->
	<!-- <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=TTDC_v7_Sept7</property> -->
	<!-- <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=TTDC_v7_Oct25</property> -->
	<property name="hibernate.connection.username">application</property>
	<property name="hibernate.connection.password">password</property>
	
	<property name="hibernate.search.default.directory_provider" >org.hibernate.search.store.FSDirectoryProvider</property>
	
	<property name="hibernate.search.default.indexBase">/LuceneDatabaseIndexes/TTDC_v7_Dev_7_31</property>
    <!--  <property name="hibernate.search.default.indexBase">/LuceneDatabaseIndexes/TTDC_v7_Dev</property>  -->
    <!--  <property name="hibernate.search.default.indexBase">/LuceneDatabaseIndexes/TTDC_v7_Oct25</property>  -->
    
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <property name="hibernate.cache.use_query_cache">true</property>
    
    
    <property name="hibernate.default_batch_fetch_size">200</property>
    
     
    <!-- The following two lines turn on the ability to browse the cache -->
    <property name="hibernate.generate_statistics">false</property>
    <property name="hibernate.cache.use_structured_entries">false</property>
     
    
    <!-- Enable Hibernate's automatic session context management -->
	<property name="current_session_context_class">thread</property>
	
	<event type="post-insert">
		<listener class="org.hibernate.search.event.FullTextIndexCollectionEventListener"/>
	</event>
	<event type="post-delete">
		<listener class="org.hibernate.search.event.FullTextIndexCollectionEventListener"/>
	</event>
	<event type="post-update">
		<listener class="org.hibernate.search.event.FullTextIndexCollectionEventListener"/>
	</event>
	
	
</session-factory>
</hibernate-configuration>
