<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Trevisualize</servlet-name>
		<servlet-class>com.ttdc.TrevisualizeServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.ttdc.ImageProcessorServlet</servlet-class>
    </servlet>
    
	<servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>com.ttdc.ImageUploadServlet</servlet-class>
    </servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>Trevisualize</servlet-name>
		<url-pattern>/trevisualize</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/uploadImage</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/saveImage</url-pattern>
        <url-pattern>/deleteImage</url-pattern>
        <url-pattern>/loadImage</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
