@import "common/icons/richtext2-light.css";
@import "common/stars/stars-orange.css";
@import "common/icons/icons-grey.css";

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {vertical-align: top; margin: 0; padding: 0; }
table {border-spacing: 0px; border-collapse: collapse;} /*Evil*/
ul{list-style-type: none;}

body{text-align:center; margin: 0 auto;}
/*Above for IE, below for FF*/
.tt-view-container{width:1000px; text-align:center; margin: 0 auto;}

.tt-border{ border:1px black solid;}
.tt-border-bottom{ border-width: 0 0 1px 0; border-style: solid;}
.tt-border-bottom-right{ border-width: 0 1px 1px 0; border-style: solid;}

.tt-alert{color: red;}
.tt-post{width: 500px; margin-bottom: 2px; border:1px solid; padding:1px;}
.tt-post-container-header{overflow: auto;}
.tt-post-container-footer{}

.tt-search-results{width: 500px; text-align:center; margin: 0 auto;}
	
.tt-text-nano{font-size:7px;}
.tt-text-mini{font-size:9px;}
.tt-post-expanded-date,
.tt-post-panel-head-date,
.tt-text-small{font-size:10px;}
.tt-options-button,
.tt-post-expanded-creator,
.tt-post-panel-head-creator,
.tt-text-normal{font-size:12px;}
.tt-text-normal-bold{font-size:12px; font-weight: bold;}
.tt-post-panel-head-title,
.tt-text-large{font-size:16px; font-weight: 500;}
.tt-text-large-bold{font-size:16px; font-weight: 700;}
.tt-text-huge{font-size:22px; font-weight: 700;}

.tt-post-container{ width:100%; }
.tt-post-fetch-more{ width:100%;}
.tt-comment-editor{border: 1px solid black; width:500px;}
.tt-post-panel-content{ margin: 0 0 2px 0; width:100%;}
.tt-post-panel-head{border-style: solid; border-width: 0 0 1px 0;}
.tt-post-panel-head-date,
.tt-post-panel-head-creator{padding: 0 0 0 2px;}

.tt-post-panel-head-date{float: right;}
.tt-post-expanded{ border-width: 1px; border-style:solid; margin: 2px 0; padding:0px; width: 100%;}
.tt-post-conversation{ margin: 0 0 20px 0;}
.tt-options-button{border: 1px solid; padding:2px;}
.tt-post-footer{text-align: right;}

.tt-post-summary-body{padding:0px 2px;}

/*
.tt-post-expanded-content{width:100%; clear:both;}
*/
.tt-post-expanded-header{width:100%;}
.tt-post-expanded-content{padding:2px 4px; clear:both;}

.tt-pageHeader-subtitle{font-size:12px; font-weight: bold; font-style: italic; margin-top: -7px; padding-left: 10px;}
.tt-pageHeader-title{ margin: auto; overflow: hidden;}
.tt-pageHeader{
	width: 100%;
}

.tt-center{text-align:center; margin: 0 auto;}
.tt-text-center{text-align:center;}

/* tt-float-container is a trick to allow the container to have floating things 
	inside of it but for it not to colapse. It's an alternative to having a clear:both element
	*/
.tt-float-container{ overflow: auto; width: 100%}


.tt-fill{ width: 100%; }
.tt-fill-both{ height:100%; width:100%;}
.tt-fill-height{ height:100%;}
.tt-text-left{text-align: left;}
.tt-text-right{text-align: right;}
.tt-float-left{ float: left;}
.tt-float-right{ float: right;}

.tt-selected{background-color: #ddd;}

/*The plan is to set these to have image backgrounds that change depending on the style folder*/
.tt-clickable-icon-prev{background-color: orange; width: 18px; height: 18px;}
.tt-clickable-icon-next{background-color: orange; width: 18px; height: 18px;}
.tt-clickable-icon-go{background-color: pink; width: 18px; height: 18px;}

.tt-clickable-icon-down{background-color: yellow; width: 18px; height: 18px;}
.tt-clickable-icon-up{background-color: green; width: 18px; height: 18px;}

.tt-hyperLinkView{ display: inline;}

.tt-disabled{color:#eee}

.tt-cloud-7{font-size: 1.15em;}
.tt-cloud-6{font-size: 1.1em;}
.tt-cloud-5{font-size: 1.0em;}
.tt-cloud-4{font-size: 0.9em;}
.tt-cloud-3{font-size: 0.85em;}
.tt-cloud-2{font-size: 0.8em;}
.tt-cloud-1{font-size: 0.75em;}
.tt-cloud-0{font-size: 0.7em;}
.tt-cloud-tag{ padding: 2px; float:left;}
.tt-cloud-tag a{white-space: nowrap;}

.tt-cloud{text-align: justify; width: 500px; margin: 10px auto; overflow: auto;}

.tt-selected{border: 1px solid orange; color: green; background-color:#b0c4de;}
.tt-paddedbox{border: 1px solid black; padding:2px; margin:1px;}

.tt-calendar-scale-button{padding:2px; margin:1px;}

.tt-inline{ display:inline; }

.tt-border{	border: 1px solid black;}

.tt-graybar{ background-color: #eee;}

.tt-fullwidth{ width: 100%; }

.tt-calendar-hour-label{ width: 50px; min-height: 40px;height:100%; text-align: right; }
.tt-calendar-hour-label-cell{ height:100%;}

.tt-calendar-hour{ min-height: 20px; width:100%; height:100%;}
.tt-calendar-day td{}



.tt-calendar-week-day{width: 120px;}
	
.tt-calendar{ width: 100%;}
.tt-calendar-day{ width: 550px; margin: 0 auto;}

.tt-calendar-week-day-header{}

.tt-calendar-month-day-headerLabel{}
.tt-calendar-month-day-header{text-align: right; height: 20px;}
.tt-calendar-month-day-body{overflow: auto; width: 130px; height:130px;}
.tt-calendar-month-day{}

.tt-calendar-year-day{}
.tt-calendar-year-week-target{width:10px;background-color: #eee;}
.tt-calendar-year-month{}
.tt-calendar-year-month-cell{width:230px;}
.tt-calendar-is-today{color:blue; background: #b0c4de}
.tt-calendar-is-future{}
.tt-calendar-scale-button{width: 50px; float:right; padding:2px; margin:1px;}
.tt-calendar-breadcrumb{overflow: auto; width: 100%; }

/*
.tt-calendar-scale-selector{width:100px; height:40px; text-align: center; float: left;}
.tt-calendar-scale-selector div{  margin: 4px auto; width: 100%}
*/

.tt-calendar-month-year-selector-module{width: 168px; height: 168px}
.tt-calendar-month-year-selector-module td{width: 42px;}
.tt-calendar-month-year-selector-module tr{width: 24px;}

.tt-calendar-small-month{width: 168px; height: 168px}
.tt-calendar-small-month td{width:24px;}
.tt-calendar-small-month tr{height:24px;}

/*
.tt-post-summary-text {float: left;}
.tt-post-summary-spacer {float: left;}
.tt-post-summary{overflow: hidden; white-space:nowrap;}
*/




.tt-cursor-move{cursor: move;}
.tt-cursor-pointer{cursor: pointer;}

.tt-textbox-search{width: 400px;}
.tt-search-panel{height:30px; border: solid black 1px; background: gray;}
.tt-search-panel-adv{}

/*
.tt-calendar-small-month-dayHasContent{ font: bolder; background-color: #eee}
.tt-calendar-small-month-daySelected{ border: solid yellow 1px; background-color: #fc5}
*/
.tt-calendar-small-month-day{	margin:0 2px 2px 0;}

.tt-special-border-bottom{border: white solid; border-width: 0 0 2px 0;}

.spoiler{ color : #f6f6f6; background-color : #f6f6f6;}
.reveal{ color : #000; background-color : #f6f6f6;}

.tt-reply-count,
.tt-conversation-count{ border: 1px solid; padding: 0px 3px}


/* 
 * Colors to be moved into color css
 */

.tt-textbox-disabled{ color: #ddd;}

/*
.tt-color-selected{border-color: yellow; background-color: #fc5}
.tt-color-selected-hover{border-color: yellow; background-color: white;}
.tt-color-contrast1{ background: grey; color: white; border-color: #eee;}
.tt-color-contrast1-hover{ background: #eee; color: black; border-color: grey;}
.tt-color-contrast2-hover{ border-color: grey; background: #eee;}
.tt-color-contrast2{ border-color: #eee;}
.tt-color-contrast3-hover{ border-color: grey; background: #eee;}
.tt-color-contrast3{ border-color: #ccc; background-color: #fcfcfc;}
*/

	
.tt-color-month-week-header,	
.tt-color-calendar-small-month-week{ background: grey; color: white; border-color: #eee;}

.tt-color-month-week-header-hover,
.tt-color-calendar-small-month-week-hover{ background: #eee; color: black; border-color: grey;}

.tt-color-calendar-small-month-day-selected{border-color: yellow; background-color: #fc5}
.tt-color-calendar-small-month-day-selected-hover{border-color: yellow; background-color: white;}

.tt-color-calendar-nav
.tt-color-calendar-small-month-day-content{ background: grey; color: white; border-color: #eee;}

.tt-color-calendar-nav-hover,
.tt-color-calendar-small-month-day-content-hover{ background: #eee; color: black; border-color: grey;}

.tt-color-calendar-day-hour,
.tt-color-calendar-hour,
.tt-color-month-day-body{ border-color: #eee;}


.tt-color-month-day-body-hover{ border-color: grey; background: #eee;}

.tt-color-calendar-week-date-hover,
.tt-color-calendar-hour-label,	
.tt-color-month-day-header-hover,
.tt-color-calendar-small-month-day{ border-color: grey; background: #eee;}

.tt-color-calendar-week-date,
.tt-color-calendar-hour-hover,
.tt-color-month-day-header,
.tt-color-calendar-small-month-day-hover{ border-color: #ccc; background-color: #fcfcfc;}


.tt-color-nws{ color: red; }
.tt-color-inf{ color: #F5F23B; }

.tt-post-expanded{ border-color: #black;}


/*
.tt-post-panel-root
.tt-post{ background-color: #fefefe; border-color:#eee; color: white;}
*/
.tt-post{ background-color: transparent; border-color:#eee;}

.tt-post-panel-number,
.tt-post-summary-body,
.tt-color-search-results-header,
.tt-post-body{color: grey;}

.tt-post-panel-head{ background-color: #f5f5f5; border-color:#eee;}
.tt-post-panel-content{ background-color: #fcfcfc; }
	

.tt-conversation-count{background-color: #F5F23B; border-color: white; color: grey;}
.tt-reply-count{background-color: #cecece; border-color: white; color: #fefefe;}
.tt-color-options-button{border-color: grey; color:grey;}
.tt-color-options-button-hover{border-color: black; color:black;}
.tt-color-post-summary{background-color:transparent;}
.tt-color-post-summary-hover{background-color:#eee;}

.tt-rich-text-area{background-color:#eee; color:grey; text-align: left; line-height: normal;}
	
