.tt-toolbar-icon{ width: 20px; height: 20px; background-image: url(toolbar-icons.gif); float: left;}
.tt-toolbar-icon-embed{ background-position: -840px 0; }
.tt-toolbar-icon-quote{ background-position: -220px 0; }